<div class='alert alert-error'>
  <h5>There were some errors:</h5>
  <ul>
    <%# if object.errors.any? %>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <%# end %>
  </ul>
</div>

