<%= render 'shared/content_title', title: 'All Posts' %>
<% if logged_in? %>
  <h4>Welcome, <%= current_user.username  %> !</h4>
<% end %>

<% @posts.each do |post| %>
<%= render 'posts/post', post: post %>
<% end %>

